<template name="homeTransactionTable">
    <div id="tableTab" style="display: none">
        <table id="tableLogs" class="table table-dark m-0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Status</th>
                    <th>Accessor</th>
                    <th>Address</th>
                    <th>Category</th>
                    <th>Created Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="loading">
                    <td colspan="6"><p class="m-0 text-center">Loading...</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>